@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.l-header {
    width: 100%;
    height: 57px;

    @include mixin.mq('tab') {
        height: 74px;
    }
} 

.l-header__inner {
    position: relative;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;

    @include mixin.mq('tab') {
		width: 80%;
        margin: 0 auto;
        text-align: start;
	}

}

.l-header__list {
    display: flex;
    align-items: center;
}

.l-header__logo {
    display: block;
    height: 37px;
    width: 100%;

    @include mixin.mq('tab') {
		margin-right: auto;
        width: auto;
	}
    

    a {
        height: 100%;
        display: inline-block;
    }

    img {
        height: 100%;
    }
}

.l-header__nav {
    display: none;

}

.l-header__button {
    margin-left: 25px;
    
}

.l-header__navBtn {
    height: 57px;
    position: absolute;
    left: 0;

    @include mixin.mq('tab') {
		display: none;
	}

}

.l-header__icon {
    display: flex;
    position: absolute;

    @include mixin.mq('tab') {
        position: static;
        margin-left: 40px;
	}
}

