@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-faq {
  padding: 32px 0;

  @include mixin.mq('pc') {
    padding: 80px 0;
 
  }
}

.p-faq__inner {
  margin: 0 3%;

  @include mixin.mq('pc') {
    margin: 0 9%;
 
  }

}
.p-faq__title {
  text-align: center;

  @include mixin.mq('pc') {
    margin-bottom: 58px;
 
  }
}

.p-faq__questions {

  @include mixin.mq('pc') {
    display: flex;
    flex-wrap: wrap;
 
  }
  
}

.p-faq__question {
  position: relative;
  display: flex;
  border-bottom: solid 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 58%;
    right: 18px;
    width: 2px;
    height: 12px;
    margin-top: -12px;
    background-color: var.$black;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 13px;
    width: 12px;
    height: 2px;
    margin-top: -1px;
    background-color: var.$black;
  }

  @include mixin.mq('pc') {
    width: 49%;

    &:nth-child( 2n + 1 ) {
      margin-right: 2%;
    } 
  }
}

.p-faq__question-q {
  margin-left: 30px;

}
.p-faq__question-text {
  font-size: 14px;
  font-weight: 500;
  margin-left: 24px;

}

.p-faq__question-icon {
  width: 12px;
  height: 12px;

}

.p-faq__button {
  text-align: center;
  margin-top: 28px;

  @include mixin.mq('pc') {
    margin-top: 58px;
 
  }
}