@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-headerUnder {
    height: 28px;
    background-color: var.$gray;

    @include mixin.mq('tab') {
		display: none;
	}

}

.p-headerUnder__list {
    display: flex;
    justify-content: center;

}