@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-realization {
  padding: 32px 0;

  @include mixin.mq('tab') {
    padding: 80px 0;
 
  }
  
}

.p-realization__inner {
  margin: 0 3%;

  @include mixin.mq('tab') {
    margin: 0 12%;

  }
  
}

.p-realization__title {
  text-align: center;

}

.p-realization__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 28px;

  @include mixin.mq('tab') {
    flex-wrap: nowrap;
 
  }

}

// .p-realization__card {
//  text-align: center;

//   &:nth-child(n + 3) {
//     margin-top: 24px;

//   }

//   @include mixin.mq('tab') {

//     &:nth-child(n + 3) {
//       margin-top: 0;
    
//     }

//   }
// }

.p-realization__card01 {
  width: 30%;

}

.p-realization__card02 {
  width: 40%;
  margin-left: 3%;

  @include mixin.mq('tab') {
    width: 30%;
 
  }

  img {
    width: 75%;

    @include mixin.mq('tab') {
      width: 100%;
   
    }
  }

}

.p-realization__card03 {
  width: 30%;

}

.p-realization__card04 {
  width: 30%;
  margin-left: 2%;

}

.p-realization__card05 {
  width: 30%;
  margin-left: 2%;

}

.p-realization__label {
  // text-align: center;

}

.p-realization__img {
  width: 100%;

}

.p-realization__text {
  text-align: start;
  font-size: 14px;

}

.p-realization__card {
  text-align: center;
 
   &:nth-child(n + 3) {
     margin-top: 24px;
 
   }
 
   @include mixin.mq('tab') {
 
     &:nth-child(n + 3) {
       margin-top: 0;
     
     }

     &:nth-child(n + 2) {
      margin-left: 5%;
  
    }
   }
 }