@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-solution {
  background-image: url(../assets/img_background-solution.png);
  background-size: cover;
  
}

.p-solution__inner {
  margin: 0 3%;
  padding: 32px 0 86px 0;

  @include mixin.mq('tab') {
    padding: 80px 0 90px 0;
    margin: 0 10%;
 
  }
}

.p-solution__title {
  text-align: center;
}

.p-solution__problems {
  margin-top: 28px;

  @include mixin.mq('tab') {
    font-size: 58px;
 
  }
}

.p-solution__problem {
  
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.p-solution__problem-flex {
  
  @include mixin.mq('tab') {
    display: flex;
 
  }
}

.p-solution__problem-left {
  
  @include mixin.mq('tab') {
    width: 49%;
 
  }
}

.p-solution__problem-right {
  margin-left: auto;
  margin-bottom: 20px;

  @include mixin.mq('tab') {
    width: 49%;
 
  }
}

.p-solution__label {
  position: absolute;
  background-color: var.$green1;
  padding: 20px 10px;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  text-align: center;
  width: 87%;
}

.p-solution__label-text {
  color: var.$white;
  font-weight: 700;
  font-size: 16px;

  br {
    @include mixin.mq('tab') {
      display: none;
   
    }
  }

}