@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-voice {
  position: relative;
  padding: 0 0 32px 0;
  

}

.p-voice__user-background {
  padding-top: 32px;
  background-image: url(../assets/img_background-voice2.png);
  background-size: 100% 100%;
  background-position: center;

}

.p-voice__inner {
  margin: 0 3%;

  @include mixin.mq('pc') {
    margin: 0 11%;
 
  }

}

.p-voice__user-title {
  text-align: center;

}

.p-voice__user {
  display: inline-block;
  position: relative;
  font-size: 32px;

  &::before {
    content: "おかげさまで\ARich-Life USER 総会員数";
    display: block;
    font-size: 16px;
    white-space: pre;
  }
}

.p-voice__user__img-left {
  position: absolute;
  top: 0;
  left: -47%;
}

.p-voice__user__img-right {
  position: absolute;
  top: 0;
  right: -47%;
  transform: scale(-1, 1);

}

.p-voice__emphasis {
  font-size: 48px;
  font-weight: 450px;

}

.p-voice__title {
  text-align: center;
  margin-top: 20px;

}

.p-voice__cards {
  padding: 32px 0;

  @include mixin.mq('tab') {
    display: flex;

  }

}

