DOCTYPE
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  script(src="https://kit.fontawesome.com/73db00d111.js" crossorigin="anonymous")
  script(src="//code.jquery.com/jquery-1.12.1.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="./js/script.js")
  link(rel="stylesheet" href="../css/style.css?ver")
  title Document
body
  header.l-header
    div.l-header__inner
      h1.l-header__logo
        a(href="")
          img(src="./assets/logo.svg" alt="")
      div.l-header__nav.p-headerNav
        ul.l-header__list.p-headerNav__list
          li.p-headerNav__item
            a(href="") 家具
            a(href="") 家電
      div.l-header__navBtn
        div.c-openbtn
          span
          span
          span
      div.l-header__icon
        a(href="").c-iconLogin
          i.fa-solid.fa-arrow-right-to-bracket
        a(href="").c-iconCart
          i.fa-solid.fa-cart-shopping
  .p-headerUnder
    ul.p-headerUnder__list
      li.c-navList
        a(href="").c-navList__link.c-triangle 家具
        i.fa-solid.fa-play
      li.c-navList
        a(href="").c-navList__link 家電
        i.fa-solid.fa-play
  section.p-main


