DOCTYPE
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  script(src="https://kit.fontawesome.com/73db00d111.js" crossorigin="anonymous")
  script(src="//code.jquery.com/jquery-1.12.1.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="./js/script.js")
  link(rel="stylesheet" href="https://use.typekit.net/jpm5lrr.css")
  link(rel="stylesheet" href="../css/style.css?ver")
  title Document
body
  header.l-header
    div.l-header__inner
      h1.l-header__logo
        a(href="")
          img(src="../assets/logo.svg" alt="")
      div.l-header__nav.p-headerNav
        ul.l-header__list.p-headerNav__list
          li.p-headerNav__item
            a(href="") 家具
            a(href="") 家電
      div.l-header__navBtn
        div.c-openbtn
          span
          span
          span
      div.l-header__icon
        a(href="").c-iconLogin
          i.fa-solid.fa-arrow-right-to-bracket
        a(href="").c-iconCart
          i.fa-solid.fa-cart-shopping
  .p-headerUnder
    ul.p-headerUnder__list
      li.c-navList
        a(href="").c-navList__link.c-triangle 家具
        i.fa-solid.fa-play
      li.c-navList
        a(href="").c-navList__link 家電
        i.fa-solid.fa-play
  section.p-mainVisual
    .p-mainVisual__inner
      .p-mainVisual__content
        .div
          p.p-mainVisual__sentence いつでもどこでも。
        .div
          p.p-mainVisual__sentence わたしの好きが集まる暮らし。
        .div
          p.p-mainVisual__sentenceSub おうち空間を自由かつ手軽に模様替え
  section.p-campaign
    .p-campaign__catchphraseLeft LIMITED TIME CAMPAIGN
    .p-campaign__content
      .p-campaign__text
        .p-campaign__title 高品質でセンスのいい<br>家具・家電を
        .p-campaign__title #[span.u-futura.u-fontBold 10%]0FF価格で<br>レンタルできます。
      .p-campaign__under
        .p-campaign__detail
          .p-campaign__monthly.c-campaignLavel 月額<br>440円〜
          .p-campaign__rental.c-campaignLavel 1ヶ月〜レンタル可能
          .p-campaign__discount.c-campaignLavel 長期レンタル<br>割引あり
        .p-campaign__3step.c-step
          p.c-step__text カンタン！ 3 STEP
        .p-campaign__button
          a.c-buttonRegister 今すぐ会員登録
    .p-campaign__catchphraseRight LIMITED TIME CAMPAIGN
  section.p-realization
    .p-realization__inner
      .p-realization__title
        .c-sectionTitle Rich-Lifeがお約束する、<br>5つの暮らし
        .c-sectionSub REALIZATION
      .p-realization__cards
        .p-realization__card.p-realization__card01
          .p-realization__label.c-label reason 01
          img.p-realization__img(src="../assets/img_chair.png" alt="")
          p.p-realization__text 交換・返却費が無料で“今”最適な空間を選べる
        .p-realization__card.p-realization__card02
          .p-realization__label.c-label reason 02
          img.p-realization__img(src="../assets/img_chair.png" alt="")
          p.p-realization__text 初期コスト抑え、気軽に質の良い空間を手に入れられる
        .p-realization__card.p-realization__card03
          .p-realization__label.c-label reason 03
          img.p-realization__img(src="../assets/img_chair.png" alt="")
          p.p-realization__text モノを持たずに引っ越しや模様替えを楽しめる
        .p-realization__card.p-realization__card04
          .p-realization__label.c-label reason 04
          img.p-realization__img(src="../assets/img_chair.png" alt="")
          p.p-realization__text モノをなるべく捨てない、環境に優しい暮らし
        .p-realization__card.p-realization__card05
          .p-realization__label.c-label reason 05
          img.p-realization__img(src="../assets/img_chair.png" alt="")
          p.p-realization__text 本当に好きなモノに囲まれる豊かな暮らし
  section.p-voice
    .p-voice__inner
      .p-voice__user <span class="p-voice__emphasis u-futura">16</span>万人突破!
        img.p-voice__user__img-left(src="../assets/img_leaf-left.png")
        img.p-voice__user__img-right(src="../assets/img_leaf-right.png")
      .p-voice__title
          .c-sectionTitle 利用者さまの声
          .c-sectionSub VOICE
      .p-voice__cards
        .c-card.u-bgGray
          .c-card__img-wrapper.c-card__lavel-01
            img.c-card__img(src="../assets/img_review01.png")
          .c-card__content
            .c-card__inner
              .c-card__title-top
                p.c-card__title-text.u-bgBrown センスのいい家具で
              .c-card__title-under
                p.c-card__title-text.u-bgBrown ワンランク上のお部屋に
              .c-card__text
                p.c-card__sentence 必要なときにだけ借りることができるコンセプトに魅力を感じて利用。
                p.c-card__sentence レンタルできる家具はどれもセンスが良いので、ハズレがありません。そしてRich-Lifeの家具をお迎えしたことで、いつものおうち空間がワンランク上の部屋になって本当にうれしいです。
                p.c-card__sentence 今ではシーズンごとに家具のテイストを変えるのが楽しみになっています。
              .c-card__name-wapper
                .c-card__name 20代女性・XXXX子さん
        .c-card
          .c-card__img-wrapper.c-card__lavel-02
            img.c-card__img(src="../assets/img_review02.png")
          .c-card__content
            .c-card__inner
              .c-card__title-top
                p.c-card__title-text.u-bgBrown 家具家電を汚した時の
              .c-card__title-under
                p.c-card__title-text.u-bgBrown レンタル保証がうれしい。
              .c-card__text
                p.c-card__sentence 家具のレンタルに興味はあったものの、小さい子どもがいるので家具・家電を汚してしまった時のことが心配でなかなか踏み切れずにいました。ですがRich-Lifeは家具を汚したときの保証があるので安心して利用できています。以前子供がソファーに飲み物をこぼしてしまったのですが無料で交換してくれてとても助かりました。
              .c-card__name-wapper
                .c-card__name 30代女性・XXXX子さん
        .c-card.u-bgGray
          .c-card__img-wrapper.c-card__lavel-03
            img.c-card__img(src="../assets/img_review03.png")
          .c-card__content
            .c-card__inner
              .c-card__title-top03
                p.c-card__title-text.u-bgBrown 本当に好きなモノに囲まれる
              .c-card__title-under
                p.c-card__title-text.u-bgBrown 豊かな暮らしを。
              .c-card__text
                p.c-card__sentence 家具のレンタルに興味はあったものの、小さい子どもがいるので家具・家電を汚してしまった時のことが心配でなかなか踏み切れずにいました。ですがRich-Lifeは家具を汚したときの保証があるので安心して利用できています。以前子供がソファーに飲み物をこぼしてしまったのですが無料で交換してくれてとても助かりました。
              .c-card__name-wapper
                .c-card__name 50代女性・XXXX子さん
  section.p-solution
    .p-solution__inner
      .p-solution__title
        .c-sectionTitle こんなことで<br>お悩みではないですか？
        .c-sectionSub SOLUTION
      .p-solution__problems
        .p-solution__problem.c-roundedEria
          p.c-roundedEria__text しっくりくる家具を選びたい、でもいきなり買うのは自信がない
        .p-solution__problem.c-roundedEria
          p.c-roundedEria__text 引っ越しのたびに物を持っていることが大きな負担である
        .p-solution__problem.c-roundedEria
          p.c-roundedEria__text きちんとした家具を使いたいけど、予算的に負担が大きい
        .p-solution__problem.c-roundedEria
          p.c-roundedEria__text 新しい商品が出たら買い換えたい
        .p-solution__problem.c-roundedEria
          p.c-roundedEria__text 模様替えをもっと楽しみたい
        .p-solution__problem.c-roundedEria
          p.c-roundedEria__text モノを捨てない、環境に優しい暮らしを楽しみながらしたい
    .p-solution__label
      .p-solution__label-text Rich-Lifeの<br>家具・家電レンタルサービスは<br>そんな理想の暮らしをご提供いたします。
section.p-ideal
  .p-ideal__inner
    .p-ideal__title
      .c-sectionTitle Rich-Lifeで叶える、<br>理想の暮らし紹介
      .c-sectionSub REALIZATION
    .p-ideal__img-wrapper.p-ideal__tag.p-ideal__scene.p-ideal__scene01
      img(src="../assets/img_scene01.png").p-ideal__img
    .c-card__content
      .c-card__inner
        .p-ideal__card
          .c-card__title-top
            p.c-card__title-text.u-bgBrown 「スキ」なものを際立たせた
          .c-card__title-under
            p.c-card__title-text.u-bgBrown 空間作りを。
          .c-card__heading-wrapper
            p.c-card__heading STYLE POINT
          .c-card__text-scene
            p.c-card__sentence-scene ソファの足元にオットマンを配置すれば、カウチスタイルの出来上がり。
            p.c-card__sentence-scene アームレスの特徴を活かして左右どちらにでも足を降ろしやすいので、楽な姿勢を見つけてみて。
          .c-card__img-wrapper-scene
            img.c-card__img(src="../assets/img_scene01-man.png")
          .c-card__heading-wrapper
            p.c-card__heading ONE POINT ADVICE
          .c-card__text-scene
            p.c-card__sentence-scene モバイルプロジェクターをサイドテーブルに置いて、足を伸ばした状態でゆったりと映画を楽むのはどうでしょう。Rich-Lifeではターンテーブルやスピーカーなどの音楽 家電も取り扱っています。
          .c-card__img-wrapper-scene
            img.c-card__img(src="../assets/img_scene01-one-point-advaice.png")
      .p-lineUp
        .p-lineUp__title
          .p-lineUp__text 使用している家具・家電
          .p-lineUp__text-sub LINE UP
        .p-lineUp__cards
          .p-lineUp__card
            img(src="../assets/img_lineUp-speaker.png").p-lineUp__card-img
            .p-lineUp__item-wrapper
              .p-lineUp__item House of Speaker
              .p-lineUp__color Rich Black
          .p-lineUp__card
            img(src="../assets/img_lineUp-projector.png").p-lineUp__card-img
            .p-lineUp__item-wrapper
              .p-lineUp__item Mobile Projector
              .p-lineUp__color Silver
          .p-lineUp__card
            img(src="../assets/img_lineUp-roomsofa.png").p-lineUp__card-img
            .p-lineUp__item-wrapper
              .p-lineUp__item Couch Sofa
              .p-lineUp__color 1P
    .p-ideal__img-wrapper.p-ideal__tag.p-ideal__scene.p-ideal__scene02
      img(src="../assets/img_scene02.png").p-ideal__img
    .c-card__content
      .c-card__inner
        .p-ideal__card
          .c-card__title-top
            p.c-card__title-text.u-bgBrown 季節にあった彩りを 
          .c-card__title-under
            p.c-card__title-text.u-bgBrown 手軽に楽しむ
          .c-card__heading-wrapper
            p.c-card__heading STYLE POINT
          .c-card__text-scene
            p.c-card__sentence-scene ソファの上のクッションや壁面のフレーム、ソファ横の1人掛けの椅子などをベージュ〜ブラウンのアースカラーで統一。一方で碧編の白をワゴンの上に置くことで調和をとり、全体的に落ち着いた雰囲気に。
          .c-card__img-wrapper-scene
            img.c-card__img(src="../assets/img_scene02-style-point.png")
          .c-card__heading-wrapper
            p.c-card__heading ONE POINT ADVICE
          .c-card__text-scene
            p.c-card__sentence-scene お部屋のコーディネートをまとめるコツの一つとして、同系色を散らして使うテクニックがあります。寒い冬の日でもどこかあたたかさと落ち着きを感じさせるベージュ〜ブラウンのアースカラーを試してみては？
          .c-card__img-wrapper-scene
            img.c-card__img(src="../assets/img_scene02-one-point-advice.png")
      .p-lineUp
        .p-lineUp__title
          .p-lineUp__text 使用している家具・家電
          .p-lineUp__text-sub LINE UP
        .p-lineUp__cards
          .p-lineUp__card
            img(src="../assets/img_lineUp-sofa.png").p-lineUp__card-img
            .p-lineUp__item-wrapper
              .p-lineUp__item Low Sofa
              .p-lineUp__color ローソファ
          .p-lineUp__card
            img(src="../assets/img_lineUp-table.png").p-lineUp__card-img
            .p-lineUp__item-wrapper
              .p-lineUp__item Mini<br>Table
              .p-lineUp__color 直径45cm
          .p-lineUp__card
            img(src="../assets/img_lineUp-single-sofa.png").p-lineUp__card-img
            .p-lineUp__item-wrapper
              .p-lineUp__item Single<br>Sofa
              .p-lineUp__color 一人掛け
section.p-campaign
    .p-campaign__catchphraseLeft LIMITED TIME CAMPAIGN
    .p-campaign__content
      .p-campaign__text
        .p-campaign__title 高品質でセンスのいい<br>家具・家電を
        .p-campaign__title #[span.u-futura.u-fontBold 10%]0FF価格で<br>レンタルできます。
      .p-campaign__under
        .p-campaign__detail
          .p-campaign__monthly.c-campaignLavel 月額<br>440円〜
          .p-campaign__rental.c-campaignLavel 1ヶ月〜レンタル可能
          .p-campaign__discount.c-campaignLavel 長期レンタル<br>割引あり
        .p-campaign__3step.c-step
          p.c-step__text カンタン！ 3 STEP
        .p-campaign__button
          a.c-buttonRegister 今すぐ会員登録
    .p-campaign__catchphraseRight LIMITED TIME CAMPAIGN
section.p-features
  .p-features__inner
    .p-features__title
      .c-sectionTitle Rich-Lifeが愛される<br>4つのポイント
      .c-sectionSub FEATURES
    .p-features__cards
      .p-features__card
        div
          .p-features__heading
            .p-features__heading-point.c-label.u-futura point 01
            .p-features__heading-text 交換・返却が自由でカンタン
          .p-features__text-wrapper.u-none_sp
            p.p-features__text 自分の生活に最適なものを使うために時間や労力をかけて選んだにも関わらず、「思っていたのと違う」と後悔した経験はありませんか？Rich-Lifeでは家具・家電のレンタルができますので取捨選択にかける時間を大幅にカットできます。また実際に使用してみて、自分に合わないと思ったらすぐに交換・返却ができるので、手軽さゆえの心の余裕が生まれるのもポイント。
        .p-features__img-wrapper
          img(src="../assets/img_features-point01.png").p-features__img
        .p-features__text-wrapper.u-none_pc
          p.p-features__text 自分の生活に最適なものを使うために時間や労力をかけて選んだにも関わらず、「思っていたのと違う」と後悔した経験はありませんか？Rich-Lifeでは家具・家電のレンタルができますので取捨選択にかける時間を大幅にカットできます。また実際に使用してみて、自分に合わないと思ったらすぐに交換・返却ができるので、手軽さゆえの心の余裕が生まれるのもポイント。
      .p-features__card
        div
          .p-features__heading
            .p-features__heading-point.c-label.u-futura point 02
            .p-features__heading-text 月額定額制で返却期限なし
          .p-features__text-wrapper.u-none_sp
            p.p-features__text 1ヶ月という短期間からのレンタルが可能ですので、自分により合う家具・家電を色々試せる手軽さが最大の特徴。また、月額定額制なので費用管理がしやすいのもポイント。
        .p-features__img-wrapper
          img(src="../assets/img_features-point01.png").p-features__img
        .p-features__text-wrapper.u-none_pc
          p.p-features__text 1ヶ月という短期間からのレンタルが可能ですので、自分により合う家具・家電を色々試せる手軽さが最大の特徴。また、月額定額制なので費用管理がしやすいのもポイント。
      .p-features__card
        div
          .p-features__heading
            .p-features__heading-point.c-label.u-futura point 03
            .p-features__heading-text きちんとした品質でセンスのいいものだけをセレクト
          .p-features__text-wrapper.u-none_sp
            p.p-features__text きちんとしたモノは自分の生活の質を向上させてくれます。生活の質は心の余裕にも繋がりますので、それが自然と自分の気持ちをも高めてくれる好循環が生まれます。またきちんとした品質でかつセンスのいいものだけを取り揃えておりますので家具・家電の善し悪しが分からないという人でも失敗が少ないのも嬉しいポイントです。
        .p-features__img-wrapper
          img(src="../assets/img_features-point01.png").p-features__img
        .p-features__text-wrapper.u-none_pc
          p.p-features__text きちんとしたモノは自分の生活の質を向上させてくれます。生活の質は心の余裕にも繋がりますので、それが自然と自分の気持ちをも高めてくれる好循環が生まれます。またきちんとした品質でかつセンスのいいものだけを取り揃えておりますので家具・家電の善し悪しが分からないという人でも失敗が少ないのも嬉しいポイントです。
      .p-features__card
        div
          .p-features__heading
            .p-features__heading-point.c-label.u-futura point 04
            .p-features__heading-text ライフステージの変化に対応
          .p-features__text-wrapper.u-none_sp
            p.p-features__text 年齢が上がるにつれてライフステージは変遷していくもの。それと同時に、そのときの暮らしにあった家具・家電のスペックが変わりますので、購入するとなると生活スタイルが変わるたびに家具・家電の入れ替えを迫られるなんてことも。でもRich-Lifeはレンタル品なので、先の心配をすることなく「今の自分に必要なモノだけ」を置いておける気楽さを手に入れられます。また、まだまだ使えるモノを廃棄するという手間や罪悪感をも払拭してくれます。
        .p-features__img-wrapper
          img(src="../assets/img_features-point01.png").p-features__img
        .p-features__text-wrapper.u-none_pc
          p.p-features__text 年齢が上がるにつれてライフステージは変遷していくもの。それと同時に、そのときの暮らしにあった家具・家電のスペックが変わりますので、購入するとなると生活スタイルが変わるたびに家具・家電の入れ替えを迫られるなんてことも。でもRich-Lifeはレンタル品なので、先の心配をすることなく「今の自分に必要なモノだけ」を置いておける気楽さを手に入れられます。また、まだまだ使えるモノを廃棄するという手間や罪悪感をも払拭してくれます。





      
        
        






