@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.c-card {

  @include mixin.mq('tab') {
    width: 34%;
 
  }
}

.c-card__img-wrapper {
  position: relative;

  &::before {
    position: absolute;
   
    top: 0;
    left: 0;
    color: var.$white;
    font-size: 14px;
    font-weight: 700;
    background-color: var.$green1;
    padding: 8px 24px;

  }
}

.c-card__lavel-01 {

  &::before {
    content:"REVIEW 01";
  }
}

.c-card__lavel-02 {
  
  &::before {
    content:"REVIEW 02";
  }
}
.c-card__lavel-03 {
  
  &::before {
    content:"REVIEW 03";
  }
}

.c-card__content {
  padding: 16px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.160784);

  @include mixin.mq('tab') {
    padding: 24px 0;
 
  }

  @include mixin.mq('pc') {
    padding: 82px 0 75px 0;
    width: 45%;
    position: relative;
 
  }
}

.c-card__content-voice {

  @include mixin.mq('pc') {
    padding: 24px 0;
 
  }
}

.c-card__inner-voice {
  margin: 0 9%;

  @include mixin.mq('tab') {
    height: 300px;
    display: flex;
    flex-direction: column;
 
  }
}

.c-card__inner-ideal01 {
  margin: 0 11%;

  @include mixin.mq('pc') {
    margin: 0 20% 0 10%;
 
  }

}

.c-card__inner-ideal02{
  margin: 0 11%;

  @include mixin.mq('pc') {
    margin: 0 10% 0 20%;
 
  }

}

.c-card__img {
  width: 100%;

  @include mixin.mq('pc') {
    display: none;
 
  }
}

.c-card__img-voice {
  width: 100%;

}

.c-card__title {
  display: inline-block;

}

.c-card__title-top {
  margin-bottom: 8px;
}

.c-card__title-top03 {
  margin-bottom: 8px;
  text-align: end;

  @include mixin.mq('tab') {
    text-align: start;
 
  }
}

.c-card__title-under {
  text-align: end;
  margin-bottom: 17px;

  @include mixin.mq('tab') {
    text-align: start;
 
  }
 
}

.c-card__title-text {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 15px;

  @include mixin.mq('tab') {
    font-size: 12px;
 
  }
}

.c-card__sentence {
  font-size: 14px;

  @include mixin.mq('tab') {
    font-size: 12px;
 
  }

}

.c-card__name-wapper {
  text-align: end;
  margin-top: 20px;

  @include mixin.mq('tab') {
    margin-top: auto;
 
  }

}

.c-card__name {
  font-size: 14px;
}

.c-card__heading-wrapper {
  margin-top: 24px;

}

.c-card__heading {
  display: flex;
  align-items: center;

  &:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
    margin-left: 10px;

  }
}

.c-card__text-scene {
  margin-top: 8px;
  
}

.c-card__sentence-scene {
  letter-spacing: 0.08em;

}

.c-card__img-wrapper-scene {
  margin-top: 16px;
  
}

.c-card__name-wapper02 {
  margin-top: 30px;

}

.c-card__img-wrapper-scene-pc01 {

  @include mixin.mq('pc') {
    display: block;
    position: absolute;
    width: 56%;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
 
  }
}

.c-card__img-wrapper-scene-pc02 {

  @include mixin.mq('pc') {
    display: block;
    position: absolute;
    width: 56%;
    top: 50%;
    right: 90%;
    transform: translateY(-50%);
 
  }
}

.c-card__img-scene01-pc {
  display: none;

  @include mixin.mq('pc') {
    
    width: 27%;
    display: block;
 
  }
  
  img {
    @include mixin.mq('pc') {
      width: 100%;
   
    }
  }
}

.c-card__img-pc {
  display: none;

  @include mixin.mq('pc') {
    display: block;
    width: 100%;
 
  }

}