@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.u-none_sp {
  display: none;

  @include mixin.mq('tab') {
		display: block;
	}
}

.u-none_pc {
  display: block;

  @include mixin.mq('tab') {
		display: none;
	}
}